.accordion {
    background-color: #eee;
    color: #212121;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #212121;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    color: #212121;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.visible {
    content: '\002B';
    color: #212121;
    font-weight: bold;
    float: left;
    margin-left: 5px;
    transition: height 0.2s ease-out;
}

.hidden {
    padding: 0 18px;
    background-color: white;
    color: #212121;
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease-out;
}

.form {
    cursor: pointer;
    padding: 12px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 12px;

    display: block;

    background-color: #7b61a0;
    color: #ecf0f1;

    transition: background-color .3s;
}
