.visible {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.hidden {
    /* visibility: hidden; */
    display: none;
}

._input {
    display: block;
    position: relative;
    width: 19.6666666666%;
    height: 33px;
    margin-left: 23.66667%;
    padding: 0 10px;
    border-radius: 3px;
    background-color: rgb(242, 242, 242);
    font-size: 0.813em;
    color: rgb(0, 0, 0);
}

._input-1 {
    margin-top: 112px;
}

._input-2 {
    clear: both;
    margin-top: 36px;
}

._button {
    display: block;
    width: 11.6666666666%;
    height: 29px;
    margin: 45px 0 0 23.66667%;
    border-radius: 3px;
    background-color: rgb(44, 29, 71);
    font-size: 1em;
    text-align: center;
    color: rgb(255, 255, 255);
}

._button:hover {
    background-color: #4b4271;
}
